<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buchungsseite</title>
</head>
<body>
    <h1>Bookingpage</h1>
    
    <form>
        <label for="Vorname">Vorname:
          <input id="Vorname" placeholder="Vorname" name="Vorname">
        </label>
        <label for="Nachname">Nachname: 
          <input id="Nachname" placeholder="Nachname" name="Nachname">
        </label>
        <label for="email">E-Mail-Adresse: 
          <input id="email" placeholder="HinUndWeg@gmail.com" name="email" input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </label>
        <label for="telnr">Telefonnummer: 
          <input id="telnr" name="telnr" >
        </label>
      </form>

      <div id="middle-bottom-left">
        <form method="POST" action="http://127.0.0.1:8000/confirmationpage/">
            <button type="submit">Buchungbestätigen</button>
        </form>
    </div>

</body>
</html>

