<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestätigungsseite</title>
</head>
<body>
    <h1>Confirm</h1>
    <p>Sie haben die Buchung erfolgreich abgeschlossen!</p>
    <p>Sie können die Seite jetzt verlassen!</p>

    <div id="middle-bottom-left">
        <form action="http://127.0.0.1:8000">
            <button type="submit">Neue Buchung beginnen</button>
        </form>
    </div>

</body>
</html>