
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailansicht</title>
</head>
<body>
    <h1>Detailpage</h1>

    <p>Das ist der Name: {{object.type}}</p>
    <p>Mögliche Distanz mit vollem Akku: {{object.distance}}m</p>
    <p>Gewicht des Fahrzeugs: {{object.weight}}kg</p>
    <p>PS des Fahrzeugs: {{object.power}}</p>
    <p>So viel kostet es am Tag: {{object.price}}</p>

    <div id="middle-bottom-centre">
        <form action="http://127.0.0.1:8000/bookingpage/">
            <button type="submit">Jetzt Buchen!</button>
        </form>
    </div>

</body>
</html>


