<html>
    <div id="topframe">
        <h1>
        Hin und weg
        </h1>
    </div>
    <div id="mainwindow">
        <div id="timeframe"></div>
        <div id="productframe">
            <div id="pframe1"></div>
            <div id="pframe2"></div>
            <div id="pframe3"></div>
            <form action="http://127.0.0.1:8000/detailpage/">
                <button type="submit">Jetzt leihen!</button>
            </form>
        </div>
    </div>
    <div id="bottomframe"></div>
</html>